body {
  background:#282828;
  color:white;
  margin:0;
  font-family:Helvetica, Verdana, Arial, sans-serif;
}

a {
  color:white;
}

button {
  background:#652d87;
  border:0;
  cursor:pointer;
  padding:3px;
  color:white;
}

.nm {
  margin:0;
}

.header {
  background:black;
  width:100%;
  height:50px;
}

.header .left-side,
.header .right-side {
  float:left;
  width:49.5%;
}

.header .left-side::after,
.header .right-side::after {
  clear:both;
  content:" ";
}

.header .right-side {
  padding: 13px 0 10px 0;
  text-align:right;
}

.header a {
  text-decoration:none;
}

.header a button {
  background:#282828;
}

.header a button:hover,
.header a button:focus {
  background:#535353;
}

.header h2 {
  cursor:pointer;
  margin:0;
  padding:10px;
}

.main {
  padding:10px
}

.big-para {
  margin-top:8px;
  margin-bottom:8px;
}

.big-para p {
  margin-top:2px;
  margin-bottom:2px;
}